<table>
    <thead>
        <tr>
            <th>Shop Name</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <% @shops.each do |x| %>
            <tr>
                <td><%= x.name %></td>
                <td><%= x.phone_number %></td>
                <td><%= x.address %></td>
            </tr>
        <% end %>
    </tbody>
</table>